@using DoAnWeb.ClassHelper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Assets/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/Theme/css/animate.css" rel="stylesheet" />
    <link href="~/Assets/Theme/css/main.css" rel="stylesheet" />
    <link href="~/Assets/Theme/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Assets/Theme/css/price-range.css" rel="stylesheet" />
    <link href="~/Assets/Theme/css/responsive.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    @RenderSection("css",false)
</head><!--/head-->
<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href=""><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                                <li><a href=""><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="@Url.Action("Index","Home")"><img src="~/image/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <form id="frmLogout" class="hidden" method="post" action="@Url.Action("Logout","Account")"></form>
                            <ul class="nav navbar-nav">
                                @if (CurrentContext.isLogin() == false)
                                {
                                    <li><a href="@Url.Action("Register","Account")"><i class="fa glyphicon-pencil"></i>Đăng ký</a></li>
                                    <li><a href="@Url.Action("Login","Account")"><i class="fa fa-sign-in"></i>Đăng nhập</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Index","Account")">@CurrentContext.getCurrenUser().TenNguoiSuDung</a></li>
                                    if (CurrentContext.getCurrenUser().Quyen == 1)
                                    {
                                        <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-crosshairs"></i>Quản lý</a></li>
                                    }
                                    <li><a href="@Url.Action("Index","Cart")"><i class="fa fa-shopping-cart"></i> Giỏ hàng (@CurrentContext.Cart().GetTotal())</a></li>
                                    <li><a href="javascript: ;" id="logOutLink"><i class="fa fa-sign-out"></i>Thoát</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

    </header><!--/header-->
    <div class="container-fluid">
        
        @RenderSection("titlePage",false)
        @RenderBody()

    </div>
    
    <script src="~/Assets/jquery-2.2.4.min.js"></script>
    <script src="~/Assets/Theme/js/contact.js"></script>
    <script src="~/Assets/Theme/js/gmaps.js"></script>
    <script src="~/Assets/Theme/js/jquery.prettyPhoto.js"></script>
    <script src="~/Assets/Theme/js/jquery.scrollUp.min.js"></script>
    <script src="~/Assets/Theme/js/main.js"></script>
    <script src="~/Assets/Theme/js/price-range.js"></script>
    <script src="~/Assets/scripts/script.js"></script>
    @RenderSection("js", false)
</body>
</html>