@{Layout = "~/Views/Shared/_LayoutDetail.cshtml";}
@using DoAnWeb.Models.Helper
@using DoAnWeb.ClassHelper
@model  Poco_Detail
@section view_title
{
    Chi tiết sản phẩm
}
@section section_css
{
    <link href="~/Assets/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <style type="text/css">
        .name {
            color: teal;
            font-weight: bold;
            font-size: 120% !important;
        }

        .gia {
            color: #fc4577;
        }
    </style>
}
        <div class="product-details">
            <div class="col-md-4">
                <img src="~/image/@Model.ThongTinSanPham.SanPhamID/main_thumn.jpg" style="width:auto;height:300px;" />
            </div>
            <div class="col-md-8">
                <span class="name">
                    @Model.ThongTinSanPham.TenSanPham
                </span>
                <br />
                <span>
                    <span class="n"><b>Nhà sản xuất:</b> @Model.TenNhaSanXuat</span>
                </span>
                <br />
                <span>
                    <span class="n"><b>Loại sản phẩm:</b> @Model.TenLoaiSanPham</span>
                </span>
                <br />
                <span>
                    <b>Số lượt xem:</b> @Model.ThongTinSanPham.SoLanMua
                </span>
                <br />
                <span>
                    <b>Số lượt mua:</b> @Model.ThongTinSanPham.SoLanXem
                </span>
                <br />
                <span>
                    <b> Số lượng:</b> @Model.ThongTinSanPham.SoLuong
                </span>
                <br />
                <span>
                    @Html.Raw(HttpUtility.HtmlDecode(Model.ThongTinSanPham.MoTaDai))
                </span>
                <br />
                <span>
                    <b>Dung tích: </b>@Model.ThongTinSanPham.DungTich ml
                </span>
                <br />
                <span>
                    <b>Nồng độ:</b> @Model.ThongTinSanPham.NongDo
                </span>
                <br />
                <span>
                    <span class="gia"><b>Giá:</b> @string.Format("{0:N0}", @Model.ThongTinSanPham.Gia) VND</span>
                </span>
                <br />
                <form id="cartAdd-form" method="post" action="@Url.Action("Add","Cart")">
                    <div class="row">
                        @if (CurrentContext.isLogin())
                        {
                        <div class="col-md-3">
                            <input type="hidden" value="@Model.ThongTinSanPham.SanPhamID" name="ProID">
                            <input id="Quantity" type="text" class="form-control" placeholder="Slg" value="1" name="Quantity">
                        </div>
                        
                        
                            <div class="col-md-9">
                                <button id="btnCartPlus" class="btn btn-success">
                                    <i class="fa fa-cart-plus"></i>
                                    Thêm vào giỏ
                                </button>

                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
        <div class="recommended_items">
            <!--recommended_items-->
            <h2 class="title text-center">Sản phẩm cùng loại</h2>
            <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @{Html.RenderAction("PartialViewCungLoai", "Products", new { id = Model.ThongTinSanPham.LoaiSanPhamID,spID=Model.ThongTinSanPham.SanPhamID });}
                </div>
                <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>

        </div>
@section js
{
    <script src="~/Assets/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.min.js"></script>
    <script>
        $("input[id='Quantity']").TouchSpin({
            verticalbuttons: true,
            verticalupclass: 'glyphicon glyphicon-plus',
            verticaldownclass: 'glyphicon glyphicon-minus',
            min: 1,
            max: 100,
            initval: 1
        });
       
        $("#btnCartPlus").click(function () {
            //alert(txtQ.value);
            btnCartPlus.submit();
        });
    </script>
}