@using DoAnWeb.Models
@model List<tbl_SanPhams>
@{int totalItem = Model.Count;}
@{int i = 1; }
@Html.Raw("<div class='item active'>")
@foreach (tbl_SanPhams item in Model)
{
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="~/Assets/image/@item.SanPhamID/main_thumn.jpg" alt="Hình: @item.TenSanPham" style="width: 162px; height: 220px;" />
                    <h2>@string.Format("{0:N0}", @item.Gia)</h2>
                    <p>@item.TenSanPham</p>
                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>
    </div>
    if(i%3==0)
    {
        @Html.Raw("</div>")
        @Html.Raw("<div class='item'>")
    }
        if(i==totalItem)
        {
            @Html.Raw("</div>")
        }
    i++;
}
