@section title
{
    Sửa sản phẩm
}
@section css
{
    <link href="~/Assets/bootstrap-select-1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Assets/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Assets/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <style type="text/css">
        .mytouchspin {
            width: 70px;
        }
    </style>
}
@using DoAnWeb.Areas.Admin.Models
@using DoAnWeb.Models
@model Poco_Page_SuaSanPham

<form class="form-horizontal" method="post" action="" enctype="multipart/form-data" id="frmEdit">
    <div class="form-group">
        <label class="col-sm-2 control-label">Tên sản phẩm</label>
        <div class="col-sm-4">
            <input type="hidden" hidden="hidden" class="form-control" name="SanPhamID" value="@Model.SanPham.SanPhamID">
            <input type="text" class="form-control" name="TenSanPham" placeholder="Tên sản phẩm" value="@Model.SanPham.TenSanPham">
        </div>
        <label class="col-sm-2 control-label">Loại Sản Phẩm</label>
        <div class="col-sm-4">
            <select type="password" class="form-control selectpickerLoaiSanPham selectpicker" data-live-search="true" data-style="btn-primary" name="LoaiSanPhamID">
                @foreach (tbl_LoaiSanPhams item in Model.DanhSachLoaiSanPham)
                {
                    <option value="@item.LoaiSanPhamID">@item.TenLoaiSanPham</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Giá</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="Gia" placeholder="VND" value="@Model.SanPham.Gia">
        </div>
        <label class="col-sm-2 control-label">Nhà sản xuất</label>
        <div class="col-sm-4">
            <select type="password" class="form-control selectpickerNhaSanXuat selectpicker" data-live-search="true" data-style="btn-danger" name="NhaSanXuatID">
                @foreach (tbl_NhaSanXuats item in Model.DanhSachNhaSanXuat)
                {
                    <option value="@item.NhaSanXuatID">@item.TenNhaSanXuat</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Số lượng</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="SoLuong" placeholder="Số lượng" value="@Model.SanPham.SoLuong">
        </div>
        <label class="col-sm-2 control-label">
            Kích hoạt sản phẩm
        </label>
        <div class="checkbox col-sm-4">
            <label>
                @Html.CheckBox("TinhTrang", true)
            </label>
        </div>

    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Dung tích</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="DungTich" placeholder="ml" value="@Model.SanPham.DungTich">
        </div>
        <label class="col-sm-2 control-label">Nồng độ</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="NongDo" placeholder="độ" value="@Model.SanPham.NongDo">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Hình ảnh</label>
        <div class="col-sm-4">
            <img src="~/image/@Model.SanPham.SanPhamID/main_thumn.jpg" alt="..." class="img" style="width:140px;height:149px;">
        </div>
        <label class="col-sm-2 control-label">Sửa ảnh</label>
        <div class="col-sm-4">
            <input type="file" class="filestyle" data-buttonName="btn-primary" name="image" id="image">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Mô tả ngắn</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="5" name="MoTaNgan" id="MoTaNgan">
                @Model.SanPham.MoTaNgan
            </textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <textarea id="myTextarea" name="MoTaDai">
                @Html.Raw(HttpUtility.HtmlDecode(Model.SanPham.MoTaDai))
            </textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-2">
            <button type="button" class="btn btn-primary" id="btnSave">
                <i class="fa fa-save"></i>
                Lưu
            </button>
        </div>
    </div>
</form>

<form class="form-horizontal" method="post" action="@Url.Action("Delete", "Products", new { id = Model.SanPham.SanPhamID })" id="frmDelete">
    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-2">
            <button type="button" class="btn btn-danger" id="btnDelete">
                <i class="fa fa-trash-o"></i>
                Xóa sản phẩm
            </button>
        </div>
    </div>
</form>
<div class="form-group">
    <div class="col-sm-2 col-sm-offset-10">
        <a href="@Url.Action("Index")" class="btn btn-primary" role="button" >
            <i class="fa fa-share-square"></i>
            Quản lý sản phẩm
        </a>
    </div>
</div>
@section js
{
    <script src="~/Assets/bootstrap-select-1.10.0/js/bootstrap-select.min.js"></script>
    <script src="~/Assets/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Areas/Admin/Assets/tinymce/tinymce.min.js"></script>
    <script src="~/Areas/Admin/Assets/bootstrap-filestyle.js"></script>
   
    <script src="~/Areas/Admin/Assets/sweetalert2/sweetalert2.min.js"></script>
    <script type="text/javascript">
        $("input[name='Gia']").TouchSpin({
            min: 0,
            max: 9999999999999,
            step: 1,
            decimals: 0,
            boostat: 5,
            maxboostedstep: 500,
            postfix: 'VND',
            postfix_extraclass: "mytouchspin"
        });
        $("input[name='SoLuong']").TouchSpin({
            min: 0,
            max: 9999999999999,
            step: 1,
            decimals: 0,
            boostat: 5,
            maxboostedstep: 500,
            postfix: 'Chai',
            postfix_extraclass: "mytouchspin"
        });
        $("input[name='DungTich']").TouchSpin({
            min: 0,
            max: 10000,
            step: 1,
            decimals: 0,
            boostat: 5,
            maxboostedstep: 500,
            postfix: 'ml',
            postfix_extraclass: "mytouchspin"
        });
        $("input[name='NongDo']").TouchSpin({
            min: 0,
            max: 100,
            step: 1,
            decimals: 0,
            boostat: 5,
            maxboostedstep: 500,
            postfix: '&#870;',
            postfix_extraclass: "mytouchspin"
        });
        tinymce.init({
            selector: '#myTextarea',
            theme: 'modern',
            height: 300,
            plugins: [
              'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
              'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
              'save table contextmenu directionality emoticons template paste textcolor'
            ],
            content_css: 'css/content.css',
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons',
            encoding: "hmtml"
        });
        $(":file").filestyle({ buttonName: "btn-primary" });
        $('.selectpickerNhaSanXuat').val('@Model.SanPham.NhaSanXuatID');
        $('.selectpickerNhaSanXuat').selectpicker('refresh');
        $('.selectpickerLoaiSanPham').val('@Model.SanPham.LoaiSanPhamID');
        $('.selectpickerLoaiSanPham').selectpicker('refresh');
        $('#btnDelete').click(function () {
            swal({
                title: 'Bạn đang thực hiện thao tác nguy hiểm',
                text: "Bạn thực sự muốn xóa sản phẩm này",
                type: 'warning',
                cancelButtonText: 'Hủy bỏ',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xác nhận'
            }).then(function () {
                swal(
                  'Đã xóa!',
                  'Sản phẩm này đã bị xóa.',
                  'success'
                ),
                $('#frmDelete').submit();
            })
        });
        $('#btnSave').click(function () {
            swal({
                title: 'Bạn đang thực hiện thao tác nguy hiểm',
                text: "Bạn muốn cập nhập thông cho sản phẩm",
                type: 'warning',
                cancelButtonText: 'Hủy bỏ',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xác nhận'
            }).then(function () {
                swal(
                  'Hoàn tất!',
                  'Đã chỉnh sửa',
                  'success'
                ),
                $('#frmEdit').submit();
            })
        });
    </script>
}