@using DoAnWeb.Areas.Admin.Models
@model List<Poco_DonHang_IndexPage>
@{
    ViewBag.Title = "Quản lý đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css
{

    <link href="~/Areas/Admin/Assets/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Assets/datatables/media/css/dataTables.jqueryui.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Assets/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
}
@section title
{
    Quản lý đơn hàng
}
<div class="table-responsive">
    <table id="myTable" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th class="text-center">Mã đơn hàng</th>
                <th class="text-center">Tên khách hàng</th>
                <th class="text-center">Ngày đặt</th>
                <th class="text-center">Giờ đặt</th>
                <th class="text-center">Tổng số lượng</th>
                <th class="text-center">Tổng tiền</th>
                <th class="text-center">Tình trạng thanh toán</th>
                <th class="text-center">Tình trạng giao hàng</th>
                <th class="text-center">Chức năng</th>
            </tr>
        </thead>
        <tbody class="text-right">
            @foreach (Poco_DonHang_IndexPage item in Model)
            {
                <tr>
                    <td class="text-center">
                        @item.ThongTinDonHang.MaDonHang
                    </td>
                    <td class="text-center">
                        @item.ThongTinKhachHang.TenKhachHang
                    </td>
                    <td class="text-center">
                        @item.ThongTinDonHang.NgayLapPhieu
                    </td>
                    <td class="text-center">
                        @item.ThongTinDonHang.GioLap
                    </td>
                    <td class="text-center">
                        @item.ThongTinDonHang.TongSoLuong
                    </td>
                    <td class="text-center">
                        @string.Format("{0:N0}", @item.ThongTinDonHang.TongTien) VND
                    </td>
                    <td class="text-center" style="vertical-align: bottom;">
                        @if (item.ThongTinDonHang.TinhTrangThanhToan == true)
                        {
                            <label class="text-center">
                                <i class="fa fa-money fa-2x" style="color:#009688;"></i><br />Đã thanh toán
                            </label>
                        }
                        else
                        {
                            <label class="text-center">
                                <i class="fa fa-exclamation-triangle" style="color:#F44336;"></i>Chưa thanh toán</label>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-danger thanhToan" data-cardid="@item.ThongTinDonHang.MaDonHang" role="button">
                                            <i class="fa fa-edit"></i>
                                            Cập nhật
                                        </button>
                                    </div>
                                </div>
                        }
                    </td>
                    <td class="text-center" style="vertical-align: bottom;">
                        @if (item.ThongTinDonHang.TinhTrangGiaoHang == true)
                        {
                            <label class="text-center">
                                <i class="fa fa-truck fa-2x" style="color:#E91E63;"></i>
                                <br />Đã giao
                            </label>
                        }
                        else
                        {
                            <label class="text-center">
                                <i class="fa fa-clock-o" style="color:#F44336;"></i>Chưa Giao
                            </label>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-primary giaoHang" data-cardid="@item.ThongTinDonHang.MaDonHang" role="button">
                                        <i class="fa fa-edit"></i>
                                        Cập nhật
                                    </button>
                                </div>
                            </div>
                        }
                    </td>
                    <td class="text-center" style="vertical-align: middle;">
                        <div class="form-group">
                            <div class="col-sm-12 center-block">
                                <a href="@Url.Action("Edit",new { id = item.ThongTinDonHang.MaDonHang })" class="btn btn-success" role="button">
                                    <i class="fa fa-edit"></i>
                                    Xem
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section js
{
    <script src="~/Areas/Admin/Assets/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Assets/sweetalert2/sweetalert2.min.js"></script>
}